permissions:
  contents: read
name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Dependency Review
      if: github.event_name == 'pull_request'
      uses: actions/dependency-review-action@v4

    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '20'
        cache: 'npm'

    - name: Install dependencies
      run: npm install

    - name: Lint code
      run: npm run lint

    - name: Create .dev.vars file
      run: |
        echo "TODOIST_API_TOKEN='${{ secrets.TODOIST_API_TOKEN }}'" > .dev.vars
        echo "CRON_SECRET_TOKEN='${{ secrets.CRON_SECRET_TOKEN }}'" >> .dev.vars

    - name: Run tests and collect coverage
      run: npm run test:coverage

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Build project
      run: npm run build
